body {
	text-align:center;
}

#top-decoration-div {
	position:relative;
	width:400px;
	height:100px;
}

.top-decoration {
	margin:0 auto;
}

#line-on-top {
	z-index:-1;
}

#icon-on-top-div {
	width:100px;	height:100px;
	position:absolute;
	left:150px;
	top:0px;
}

#mid-image-div {
	margin:0 auto;
	width:1080px;
}

.mid-image {
	max-height:600px;
}

#cha-in-mid-div {
	margin:0 auto;
	width:900px;
	height:450px;
}

.cha-in-mid-div {
	float:left;
	width:33.3%;
	height:100%;
}

.cha-in-mid-icon-div {
	margin:30px auto;
	width:50%;
	height:33.3%;
	border-radius:50%;
	overflow:hidden;
	position:relative;
}

.cha-in-mid-icon {
	height:145px;
	position:absolute;
	top:3%;
}
#cha-in-mid-fujioka{ left:-40%;}
#cha-in-mid-kana{ left:-40%;}
#cha-in-mid-haruka{ left:-40%;}

.cha-in-mid-text-div {
	text-align:center;
}
h1.cha-in-mid-text {
	font-family:Arial;
	font-weight:100;
}
#cha-in-mid-text-fujioka {color:#F6B352;}
#cha-in-mid-text-kana {color:#9055A2;}
#cha-in-mid-text-haruka {color:#FDD692;}
